/* Adding varible */

:root{
    --my-black:#060606;
    --my-green:#00C951;
    --my-secondary:#EEEEEE;
    --my-third:#CCCCCC;

}

/* importing font family */


@font-face {
    font-family: "san-thin" ;
    src: url("font/Mundo\ Sans\ Std\ Light.otf");
}

@font-face {
    font-family: "san-medium" ;
    src: url("font/Mundo\ Sans\ Std\ Medium.otf");
}
@font-face {
    font-family: "san-regular" ;
    src: url("font/Mundo\ Sans\ Std\ Regular.otf");
}

/* body design */

body{
    background: var(--my-black);
    color: var(--my-secondary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
    margin-left:4% ;
    
    
}
/* every anchor tag modifying */

a{
    text-decoration: none;
    color:var(--my-third);
    font-family: "san-regular";
}



/* navigation bar grid */

nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 6fr;
    font-size: 2rem;
}

nav a {
    padding:2vh 3vw;
    transition: color ease-in-out 500ms;
}

nav .home{
    padding:2vh 2vh
}

nav .contact {
    justify-self: end;
}

/* nav hover animation  */

nav .active,.learn-more {
    color:var(--my-green)
}

nav a:hover{
    color:#00C951
}

nav .active:hover{
    color:rgb(115, 255, 0);
}


/* designing h1,h3 in aboutme  */


.aboutme h3{
    font-family: "san-thin";
    font-size: 4rem;
    margin: 22vh 0 3vh 0;
}


.aboutme h1{
    font-family: "san-regular";
    font-size: 6rem;
    margin: 0 0 1vh 0;
}


.aboutme h6{
    font-family: "san-thin";
    font-size: 1.8rem;
    margin: 0 0 15vh 0;
}

/* designing footer */

footer h1{
    font-family: san-regular;
    font-size: 4rem;
    margin:0;
}

footer a{
    font-size:2rem;
    margin: 0;
}

/* adjusting image icon... */

.flag{
    position: relative;
    top: 3px;
}

.code {
    position: relative;
    top:8px
}

.arrow{
    width: 15px;
    position: relative;
    top: 3px;
    left:3px;
}


/* making resposive for under 600px screen */

@media only screen and (max-width: 700px) {
   
    /* maring 0  */

    body {
      margin:1.5vw;
    }

    /* navigation bar */
    nav {
        padding:0;
    }
    nav a{
        font-size: 5vw;
        padding:1vh 1vw;
    }
    nav .home{
        padding:1vh 1vh
    }
    nav .contact{
        justify-self: end;
    }

    /* aboutme class */

    .aboutme h3{
        font-family: "san-thin";
        font-size: 8vw;
        margin: 15vh 0 5vh 0;
    }
    
    
    .aboutme h1{
        font-family: "san-regular";
        font-size: 8vw;
        margin: 0 0 5vh 0;
       
    }
    
    
    .aboutme h6{
        font-family: "san-thin";
        font-size:5vw;
        margin: 0 0 20vh 0;
    }

    /* footer responsive */

    footer h1{
        font-size: 10vw;
    }
    
    footer a{
        font-size:5vw;
    }


    /* image adjusting */


    .flag{
       width: 8vw;
    }
    
    .code {
        width: 6vw;
    }
    
    .arrow{
        width: 2.5vw;
    }
    


  }


  /* making resposive for under 1000px screen */

  @media only screen and (max-width: 1100px) {
   
    /* maring 0  */

    body {
      margin-left:3%
    }

    .aboutme h3{
        font-family: "san-thin";
        font-size: 8vw;
        margin: 15vh 0 5vh 0;
    }
    
    
    .aboutme h1{
        font-family: "san-regular";
        font-size: 8vw;
        margin: 0 0 5vh 0;
       
    }
    
    
    .aboutme h6{
        font-family: "san-thin";
        font-size:5vw;
        margin: 0 0 20vh 0;
    }
}