body{
    background-color: #F4F1ED;
    font-family: "Lato",sans-serif;
    overflow: hidden;
    color: #222831;
    
}
img {
    height: 60vw;
}
h1 {
    font-size: 5rem;
    margin:0;
    display: inline;
    padding:20px 0px 50px ;
}
#dot{
    font-size: 5rem;
    position: fixed;
}

.coming_soon{
    /* min-width: 100vh;  */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown{
    display:flex;
    justify-content: space-around;
   
}
h3{
    margin:0;
    padding-left: 80px;
}

.day,.minute,.hour,.second{
    font-size: 3rem;


}



